" n Normal mode. Defined using :nmap or nnoremap i Insert mode map. Defined using imap or inoremap
source ~/.vimrc

set clipboard+=unnamed
set ideajoin
set idearefactormode=keep
set selectmode=key,ideas

nnoremap \e :source ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" plugins
set surround            " commands: ys, cs, ds, S
set multiple-cursors    " commands <A-n>, <A-x>, <A-p>, g<A-n>
set ReplaceWithRegister " commands: gr, grr  ex:griw
set exchange            " commands: cx, cxx, X, cxc
set textobj-entire      " additional text objects: ae, ie
set vim-indent-object   " additional text objects: ai, ii, aI, iI
set highlightedyank     "
set commentary
" Emulation of the `NERDTree` plugin.
" `r` - recursively refresh the current directory.
" `R` - recursively refresh the current root.
" `K` - navigate to the first sibling of current file/directory.
" `J` - navigate to the last sibling of current file/directory.
" `o` (<CR>) - open file in a new tab.
" `O` - recursively open the selected directory.
" `P` - jump to the root node.
" `p` - jump to current nodes parent.
" `A` - zoom (maximize/minimize) the NERDTree window.
" `v` - split vertically.
" `h` - split horizontally.
set NERDTree
set easymotion

" Hint use alt + arrows to move in insert mode
""" Other
nnoremap <c-z> :action ChangeView<CR>
nnoremap <c-n> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>

nnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>ms :action RiderManageRecentProjects<CR>
nnoremap <leader>aa :action Annotate<CR>

" To make Back and Forward work more smooth
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" imap <C-n> :action HippieCompletion<CR>
" imap <C-p> :action HippieBackwardCompletion<CR>

noremap <leader>fs mm`m:action FileStructurePopup<CR>
nnoremap <leader>fu :action FindUsages<CR>

" file and GoTo
nnoremap <C-S-p> :action GotoAction<CR>
nnoremap <C-p> :action GotoFile<CR>
noremap <leader>hh :action RecentFiles<CR>
nnoremap <leader>u :action FindUsages<CR>
noremap <leader>tf mm`m:action GotoFile<CR>
noremap <leader>tt mm`m:action GotoTest<CR>
noremap <leader>tc mm`m:action GotoClass<CR>
noremap <leader>fg mm`m:action FindInPath<CR>
noremap <leader>gs mm`m:action GotoSuperMethod<CR>
noremap <leader>gi mm`m:action GotoImplementation<CR>
noremap <leader>ne mm`m:action GotoNextError<CR>
noremap <leader>pe mm`m:action GotoPreviousError<CR>
nnoremap <leader>ge :action ReSharperGotoNextErrorInSolution<CR>
nnoremap <leader>gE :action ReSharperGotoPrevErrorInSolution<CR>
nnoremap <leader>rl :action RecentLocations<CR>
nnoremap <leader>fl :action RecentLocations<CR>
noremap <leader>rF :action RecentChangedFiles<CR>
nnoremap <leader>fb :action Switcher<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fa :action GotoAction<CR>

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-w>q :action Unsplit<CR>
nnoremap <c-w>p :action PrevSplitter<CR> 

nnoremap <leader>en :action EditSourceInNewWindow<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

""" Running and Debugging
nnoremap ,tb :action ToggleLineBreakpoint<CR>
nnoremap ,bb :action BuildSolutionAction<CR>
nnoremap ,be :action EditBreakpoint<CR>
nnoremap ,bs :action RebuildSolutionAction<CR>
nnoremap ,dd :action Debug<CR>
nnoremap ,ru :action Rerun<CR>
nnoremap ,rr :action Run<CR>
nnoremap ,rn :action RunCoverage<CR>
nnoremap ,rc :action ChooseRunConfiguration <CR>
nnoremap ,ut :action RiderUnitTestDebugContextAction<CR>
nnoremap ,uf :action RiderUnitTestSessionRerunFailedTestsAction<CR>
nnoremap ,us :action RiderUnitTestRunSolutionAction<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>
nnoremap ,s :action Stop<CR>

""""""""""""""""""""""""""""""""""""""Refactoring""""""""""""""""""""""""""""""""""""""
noremap <leader>re :action RenameElement<CR>
noremap <leader>mv :action Move<CR>
noremap <leader>il :action Inline<CR>
noremap <leader>em :action ExtractMethod<CR>
noremap <leader>ei :action ExtractInterface<CR>
noremap <leader>ef :action EncapsulateFields<CR>
noremap <leader>iv :action IntroduceVariable<CR>
noremap <leader>ip :action IntroduceParameter<CR>
noremap <leader>if :action IntroduceField<CR>
noremap <leader>pd :action MemberPushDown<CR>
noremap <leader>pu :action MembersPullUp<CR>
noremap <leader>ad :action ActivateDatabaseToolWindow<CR>
noremap <leader>at :action ActivateTODOToolWindow<CR>
noremap <leader>af :action ActivateFavoritesToolWindow<CR>
noremap <leader>ap :action ActivateProjectToolWindow<CR>
noremap <leader>ae :action ActivateVersionControlToolWindow<CR>
noremap <leader>ag :action ActivateServicesToolWindow<CR>
noremap <leader>ab :action ViewBreakpoints<CR>

"""""""""""""""""""""""""""""Information""""""""""""""""""""""""""""""""""""""
noremap <leader>ed :action ShowErrorDescription<CR>
noremap <leader>ee :action ParameterInfo<CR>
noremap <leader>ti :action ExpressionTypeInfo<CR>
"
""""""""""""""""""""""""""""""""""""""Project""""""""""""""""""""""""""""""""""""""
noremap <leader>cP :action CloseProject<CR>
noremap <leader>CP :action CloseProject<CR>
noremap <leader>nP :action NewProject<CR>
noremap <leader>np :action NewProject<CR>
noremap <leader>nf :action NewFile<CR>
noremap <leader>nc :action NewClass<CR>
"
""""""""""""""""""""""""""""""""""""""Utilities""""""""""""""""""""""""""""""""
noremap <leader>sw :action SurroundWith<CR>
noremap <leader>= :action ReformatCode<CR>
noremap <leader>sm :action ShowPopupMenu<CR>
noremap <leader>cap   :action CopyAbsolutePath<CR>
noremap <leader>ccp   :action CopyContentRootPath<CR>
noremap <leader>de :action SafeDelete<CR>
noremap <leader>oi :action OptimizeImports<CR>
noremap <leader>on :action RiderBackendAction-Refactorings.AdjustNamespaces<CR>
noremap <leader>co :action CloseAllEditorsButActive<CR>
noremap <leader>cu :action CloseAllUnmodifiedEditors<CR>
noremap <leader>ga :action Generate<CR>

" Shortcut conflict Ideavim (Exported from Vim)
sethandler a:vim
sethandler <C-v> a:ide
sethandler <C-c> a:ide
sethandler <C-t> a:ide
sethandler <C-a> a:ide

