" n Normal mode. Defined using :nmap or nnoremap i Insert mode map. Defined using imap or inoremap
source ~/.vimrc

set clipboard+=unnamed
set ideajoin
set idearefactormode=keep
set selectmode=key,ideas

nnoremap \e :source ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" leader key
let mapleader=" "

" disable annoying bells
set visualbell
set noerrorbells
set relativenumber number

vnoremap < <gv
vnoremap > >gv

" plugins
set surround            " commands: ys, cs, ds, S
set multiple-cursors    " commands <A-n>, <A-x>, <A-p>, g<A-n>
set ReplaceWithRegister " commands: gr, grr  ex:griw
set exchange            " commands: cx, cxx, X, cxc
set textobj-entire      " additional text objects: ae, ie
set vim-indent-object   " additional text objects: ai, ii, aI, iI
set highlightedyank     "
set commentary
" Emulation of the `NERDTree` plugin.
" `r` - recursively refresh the current directory.
" `R` - recursively refresh the current root.
" `K` - navigate to the first sibling of current file/directory.
" `J` - navigate to the last sibling of current file/directory.
" `o` (<CR>) - open file in a new tab.
" `O` - recursively open the selected directory.
" `P` - jump to the root node.
" `p` - jump to current nodes parent.
" `A` - zoom (maximize/minimize) the NERDTree window.
" `v` - split vertically.
" `h` - split horizontally.
set NERDTree
set matchit

set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
set argtextobj
let g:argtextobj_pairs="(:),{:},<:>"

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Hint use alt + arrows to move in insert mode
""" Other
" Try to use same command as in nvim

nnoremap <leader>zz :action ChangeView<CR>
nnoremap <c-x> :action HideAllWindows<CR>
nnoremap <leader>nn :action JumpToLastWindow<CR>

nnoremap <leader>ca :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>ms :action RiderManageRecentProjects<CR>
nnoremap <leader>aa :action Annotate<CR>

" To make Back and Forward work more smooth
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
map zc <Action>(CollapseRegion)
map zo <Action>(ExpandRegion)

imap <C-n> :action HippieCompletion<CR>
imap <C-p> :action HippieBackwardCompletion<CR>

noremap <leader>fs mm`m:action FileStructurePopup<CR>
nnoremap <leader>U :action ShowUsages<CR>
nnoremap <leader>u :action FindUsages<CR>

" File and GoTo
nnoremap <C-S-p> :action GotoAction<CR>
nnoremap <C-p> :action GotoFile<CR>
noremap <leader>hh :action RecentFiles<CR>
noremap <leader>fg mm`m:action FindInPath<CR>
noremap <leader>gsm mm`m:action GotoSuperMethod<CR>
noremap <leader>gi mm`m:action GotoImplementation<CR>
noremap <leader>ne mm`m:action GotoNextError<CR>
noremap <leader>pe mm`m:action GotoPreviousError<CR>
nnoremap <leader>ge :action ReSharperGotoNextErrorInSolution<CR>
nnoremap <leader>gE :action ReSharperGotoPrevErrorInSolution<CR>
nnoremap <leader>rl :action RecentLocations<CR>
nnoremap <leader>fl :action RecentLocations<CR>
noremap <leader>rF :action RecentChangedFiles<CR>
nnoremap <leader>fb :action Switcher<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fa :action GotoAction<CR>

nnoremap sh <c-w>h
nnoremap sl <c-w>l
nnoremap sj <c-w>j
nnoremap sk <c-w>k
nnoremap <c-w>q :action Unsplit<CR>

nnoremap <leader>en :action EditSourceInNewWindow<CR>

" Running and Debugging
nnoremap <leader>tb :action ToggleLineBreakpoint<CR>
nnoremap <leader>bb :action BuildSolutionAction<CR>
nnoremap <leader>be :action EditBreakpoint<CR>
nnoremap <leader>bs :action RebuildSolutionAction<CR>
nnoremap <leader>dy :action RiderDebuggerApplyEncChagnes<CR>
nnoremap <leader>dd :action Debug<CR>
nnoremap <leader>rr :action Rerun<CR>
nnoremap <leader>ru :action Run<CR>
nnoremap <leader>rc :action ChooseRunConfiguration <CR>
nnoremap <leader>tt :action RiderUnitTestDebugContextAction<CR>
nnoremap <leader>ts :action RiderUnitTestRunSolutionAction<CR>
nnoremap <leader>tf :action RiderUnitTestSessionRerunFailedTestsAction<CR>
nnoremap <leader>ss :action Stop<CR>

""""""""""""""""""""""""""""""""""""""Refactoring""""""""""""""""""""""""""""""""""""""
noremap <leader>re :action RenameElement<CR>
noremap <leader>mv :action Move<CR>
noremap <leader>il :action Inline<CR>
noremap <leader>em :action ExtractMethod<CR>
noremap <leader>ei :action ExtractInterface<CR>
noremap <leader>ef :action EncapsulateFields<CR>
noremap <leader>iv :action IntroduceVariable<CR>
noremap <leader>ip :action IntroduceParameter<CR>
noremap <leader>if :action IntroduceField<CR>
noremap <leader>pd :action MemberPushDown<CR>
noremap <leader>pu :action MembersPullUp<CR>
noremap <leader>ad :action ActivateDatabaseToolWindow<CR>
noremap <leader>at :action ActivateTODOToolWindow<CR>
noremap <leader>af :action ActivateFavoritesToolWindow<CR>
noremap <leader>ap :action ActivateProjectToolWindow<CR>
noremap <leader>ae :action ActivateVersionControlToolWindow<CR>
noremap <leader>ag :action ActivateServicesToolWindow<CR>
noremap <leader>ab :action ViewBreakpoints<CR>

"""""""""""""""""""""""""""""Information""""""""""""""""""""""""""""""""""""""
noremap <leader>ed :action ShowErrorDescription<CR>
noremap <leader>pp :action ParameterInfo<CR>
noremap <leader>ti :action ExpressionTypeInfo<CR>

""""""""""""""""""""""""""""""""""""""Project""""""""""""""""""""""""""""""""""""""
noremap <leader>cp :action CloseProject<CR>
noremap <leader>np :action NewProject<CR>
noremap <leader>np :action NewProject<CR>
noremap <leader>nf :action NewFile<CR>
noremap <leader>nc :action NewClass<CR>

""""""""""""""""""""""""""""""""""""""Utilities""""""""""""""""""""""""""""""""
noremap <leader>sw :action SurroundWith<CR>
noremap <leader><leader> :action ReformatCode<CR>
noremap <leader>sm :action ShowPopupMenu<CR>
noremap <leader>de :action SafeDelete<CR>
noremap <leader>oi :action OptimizeImports<CR>
noremap <leader>on :action RiderBackendAction-Refactorings.AdjustNamespaces<CR>
noremap <leader>co :action CloseAllEditorsButActive<CR>
noremap <leader>cu :action CloseAllUnmodifiedEditors<CR>
noremap <leader>ga :action Generate<CR>

" Shortcut conflict Ideavim (Exported from Vim)
sethandler a:vim
sethandler <C-v> a:ide
sethandler <C-c> a:ide
sethandler <C-t> a:ide
sethandler <C-f> a:ide
sethandler <C-z> a:ide

